body{
  background-color: rgb(5, 5, 5);
  background-image: url("../photos/fish_PNG25147.png");
  background-repeat:repeat-y ;

}

#navbar{
  border: 1px solid black;
  display: flex;
  background-color: black;
  border-bottom-color: #fff;
} 

#list{ 
  float: right;
  margin-left: 80%;
  width: 30%;
  text-align: right;
}

#navbar ul a {
  list-style-type: none;
  color: rgb(246, 236, 236);
 }
 
 #navbar ul li{
  display: inline-block;      
  padding: 10px;    
 }
 
#invoice-POS{
  padding:2mm; 
  margin: 0 auto;
  width: 130mm;
  background: #FFF;  
  display: flex;
  flex-direction: column;
}
  
h1{
  font-size: 1.5em;
  color: #222;
}

h2{font-size: .9em;}

h3{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}

p{
  font-size: .7em;
  color: #666;
  line-height: 1.2em;
}
 
#top, #mid,#bot{
  border-bottom: 1px solid #EEE;
}

#top{ 
 padding-right: 50px;
 display: flex;
 flex-direction: column;
}

#mid{min-height: 80px;} 
#bot{ min-height: 50px;}


table{
  width: 100%;
  border-collapse: collapse;
}

td{
  padding: 5px 0 5px 15px;
  border: 1px solid #EEE
}

.tabletitle{
  padding: 5px;
  font-size: .5em;
  background: #EEE;

}







  
  
